<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <kt-widget-summary-instansi-school
        title="Pusat"
        [totalAll]="totalAll"
        [totalInstansi]="listDataPool.length"
        [listTotalAll]="listTotalAll"></kt-widget-summary-instansi-school>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4" *ngFor="let item of listSchools" style="margin-top: 20px !important;">
      <kt-widget-item-scholl-cabang [item]="item" >
      </kt-widget-item-scholl-cabang>
    </div>
  </div>
</div>
