<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <kt-widget-summary-school-dash
        [listTotalAll]="listTotalAll"
        [totalPusat]="listDataPusatPool.length"
        [totalCabang]="listDataCabangPool.length"
        [totalPerwakilan]="listDataPerwakilanPool.length"
        [totalAll]="totalAll"></kt-widget-summary-school-dash>
    </div>
  </div>
  <div class="row" style="margin-top: 10px !important;">
    <div class="col-xl-12">
      <kt-widget-summary-instansi-school
        title="Pusat"
        pathUrl="/pusat"
        [totalAll]="totalAllPusat"
        [totalInstansi]="listDataPusatPool.length"
        [listTotalAll]="listTotalAllPusat"></kt-widget-summary-instansi-school>
    </div>
  </div>

  <div class="row" style="margin-top: 10px !important;">
    <div class="col-xl-12">
      <kt-widget-summary-instansi-school
        title="Cabang"
        pathUrl="/cabang"
        [totalAll]="totalAllCabang"
        [totalInstansi]="listDataCabangPool.length"
        [listTotalAll]="listTotalAllCabang"></kt-widget-summary-instansi-school>
    </div>
  </div>


  <div class="row" style="margin-top: 10px !important;">
    <div class="col-xl-12">
      <kt-widget-summary-instansi-school
        title="Perwakilan"
        pathUrl="/perwakilan"
        [totalAll]="totalAllPerwakilan"
        [totalInstansi]="listDataPerwakilanPool.length"
        [listTotalAll]="listTotalAllPerwakilan"></kt-widget-summary-instansi-school>
    </div>
  </div>

</div>
