<div class="col bg-light-warning px-3 py-3 rounded-xl mr-3 mb-3">
  <div class="row">
    <div class="col-xl-12">
      <a class="text-warning text-center font-weight-bold" href="/schools">{{total}} {{schoolType}}</a>
    </div>
  </div>

  <div class="row">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
        <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>

