<div class="card card-custom ">
  <div class="card-header">
    <div class="card-title">
      <h4 class="card-label">Rekapitulasi Data Sekolah Di {{title}}</h4>
    </div>
    <div class="card-toolbar" *ngIf="pathUrl.length > 0">
      <a href="{{pathUrl}}" class="btn btn-sm btn-icon btn-bg-light btn-text-primary btn-hover-primary"><i class="fas fa-eye"></i></a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-2" align="center" *ngFor="let item of listTotalAll">
        <kt-widget-summary-school [item]="item"></kt-widget-summary-school>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h5 class="card-label">Total {{title}} : <span class="text-primary">{{totalInstansi}} {{title}}</span></h5>
    <h5 class="card-label">Total Sekolah : <span class="text-primary">{{totalAll}} Sekolah</span></h5>
  </div>
</div>
