<div class="container">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xl-12">
      <kt-widget-summary-instansi-school
        title="Perwakilan"
        [totalAll]="totalAll"
        [totalInstansi]="listDataPool.length"
        [listTotalAll]="listTotalAll"></kt-widget-summary-instansi-school>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4"  *ngFor="let item of listDataPool">
      <kt-widget-cabang [data]="item">
      </kt-widget-cabang>
    </div>
  </div>
</div>
