<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <div class="symbol symbol-40 symbol-light-success mr-5" style="margin-top: 10px;">
        <div class="d-flex flex-column flex-grow-1 font-weight-bold" style="margin-top: 10px;">
          <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">Data Sekolah {{datafilter.type}}</a>
          <span class="text-muted font-size-sm">{{datafilter.dataInstansi.getInstansi().name}}</span>
        </div>
      </div>
    </div>
    <div class="card-toolbar">
      <a href="javascript:void(0)" class="btn btn-light btn-sm font-weight-bold mr-3" (click)="close()">Tutup</a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4" style="margin-top: 10px;" *ngFor="let item of listSekolah">
        <div class="card my-card-custom">
          <div class="card-header" style="padding: 10px !important; height: 70px !important;">
            <div class="d-flex align-items-center mb-10">
              <!--begin::Symbol-->
              <div class="symbol symbol-40 symbol-light-success mr-5">
                <span class="symbol-label">
                  <img alt="boy avatar" src="./assets/media/logos/logo-letter-3.png" class="h-75 align-self-end" />
                </span>
              </div>
              <!--end::Symbol-->

              <!--begin::Text-->
              <div class="d-flex flex-column flex-grow-1 font-weight-bold">
                <a href="javascript:void(0)" (click)="viewDetailSekolah(item)" class="text-truncate text-dark text-hover-primary mb-1 font-size-lg" data-toggle="tooltip" title="Tampilkan Data {{item.getSekolah().name}}">{{item.getSekolah().name}}</a>
                <span class="text-muted">{{item.getSekolah().type}}</span>
              </div>

              <!--end::Text-->
            </div>
          </div>

          <div class="card-body" style="padding: 20px !important;">
            <div>
              <label>Kelapa Sekolah</label>
              <input type="text" value="{{item.getKepalaSekolah().name}}" class="form-control" disabled>
            </div>
            <div>
              <label>No. Telepon</label>
              <input type="text" value="{{item.getSekolah().phoneNumber}}" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
