<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <div class="symbol symbol-40 symbol-light-success mr-5" style="margin-top: 10px;">
        <div class="d-flex flex-column flex-grow-1 font-weight-bold" style="margin-top: 10px;">
          <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">Data Sekolah {{datafilter.type}}</a>
          <span class="text-muted font-size-sm">{{datafilter.dataInstansi.getInstansi().name}}</span>
        </div>
      </div>
    </div>
    <div class="card-toolbar">
      <a href="javascript:void(0)" class="btn btn-primary btn-sm font-weight-bold mr-3" (click)="close()">Tutup</a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4" style="margin-top: 20px;" *ngFor="let item of listSekolah">
        <kt-widget-item-scholl-cabang [item]="item"></kt-widget-item-scholl-cabang>
      </div>
    </div>
  </div>
</div>
