<div class="card card-custom card-stretch gutter-b">
  <div class="card-header">
    <div class="card-title">
      <div class="d-flex flex-column flex-grow-1 font-weight-bold" style="margin-top: 10px;">
          <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">{{data.getInstansi().name}}</a>
          <span class="text-muted font-size-sm">{{title}}</span>
        </div>
      <!-- <h3 class="card-label">{{schoolGroup.name}}</h3> -->
    </div>
  </div>
  <div class="card-body">
    <!-- Start Pengurus -->
    <div class="row">
      <div class="col-xl-12">
        <kt-widget-pengurus [kepalaInstansi]="data.getKepalaInstansi()"></kt-widget-pengurus>
      </div>
    </div>
    <!-- End Pengurus -->
    <!-- Start School Total -->
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="flex-start">
      <ng-container *ngFor="let item of data.getTotalTypes()">
        <kt-widget-school [total]="item.total" [schoolType]="item.type" fxFlex="0 1 calc(33.3% - 50px)" fxFlex.lt-md="0 1 calc(50% - 50px)" >
        </kt-widget-school>
      </ng-container>
    </div>
    <!-- End School Total -->
  </div>
</div>
