<div class="card card-custom card-stretch gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{schoolGroup.name}}</h3>
    </div>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-xl-12">
        <kt-widget-pengurus [pengurus]="schoolGroup.pengurus"></kt-widget-pengurus>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="flex-start">
      <ng-container *ngFor="let item of schoolGroup.getTotalSchool()">
        <kt-widget-school [total]="item.total" [schoolType]="item.type" fxFlex="0 1 calc(33.3% - 50px)"
          fxFlex.lt-md="0 1 calc(50% - 50px)">
        </kt-widget-school>
      </ng-container>
    </div>

  </div>
</div>
